.header {
    background: transparent linear-gradient(90deg, #748EFC 0%, #3B4D9A 100%) 0% 0% no-repeat padding-box;
    padding: 38px;

    &__title {
        text-align: center;
        color: #FFFFFF;
        opacity: 1;
    }
}